* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.detailsItem {
    display: flex;
    justify-content: center;
    width: 100%;
    height: calc(100vh - 60px);
}

.detailsItem .containerLeft {
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 600px;
}

.detailsItem .containerRigth {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    min-height: 600px;
}

